

#wrapper {
	margin:0;
	
}


body {
	align-items: center;
  background-color: #FFF;
        padding: 0;
	display: flex;
	font-family: 'Raleway', sans-serif;
	flex-direction: column;
	justify-content: center;
	overflow: scroll;
        background-size: cover;
        position: relative;
	min-width: 2000px;
        min-height: 800px;
	
	
}
.hline-bottom {
     padding: 0;
    border-bottom: 1px solid  #996C20; 
    position: relative;
    right:610px;
    top: -650px;
    width: 250%;
	
}
div.navigation {
  background-color:  background: rgba(255, 255, 255, 0.9);
  height: auto;
  text-align: center;
  position: relative;
  left: 0;
  width: 100%;
  position: relative;
  top: 0;
  z-index: 999;
}

.navigation ul {
  padding: 0;
}

.navigation li {
  color: #996C20;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 2px;
  margin:40px;
  position: relative;
  text-transform: uppercase;
  right:10px;
  top: -120px;
  cursor: pointer;
}

.navigation li:hover {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
div.container {
	align-items: center;
	align-self: center;
	background: url('31.gif') center center;
	border-radius: 100%;
	display: flex;
	flex-direction: column;
	min-height: 470px;
	justify-content: center;
	width: 470px;
}

h1 {
  color: #0D515F;
  font-family: 'Roboto', serif;
  font-size: 52px;
  font-weight: 800;
  position: relative;
  left: -450px;
  top: -435px;
  text-align: center;
  width: 50%;
  cursor: pointer;
}
h1:hover {
       text-shadow: 2px 4px 8px #74777c;
}

b {
  color: #0D515F;
  font-family: 'Roboto', serif;
  font-size: 52px;
  font-weight: 800;
  position: relative;
  left: -450px;
  top: -435px;
  text-align: center;
  width: 50%;

}

a.btn {
	background: linear-gradient(to right,silver);
	border-radius: 12px;
	box-shadow: 0px 2px 4px rgba(34,62,66,.25);
  color: black;
  font-size: 20px;
  font-family: Helvetica, Arial, sans-serif;
  text-shadow: 3px 2px red
  cursor: pointer;
  letter-spacing: 1px;
  padding: 10px 20px;
  text-decoration: none;
  -webkit-transition: box-shadow 1s ease;
	transition: box-shadow 1s ease;
}

a.btn:hover {
	box-shadow: 0px 4px 4px rgba(34,62,66,.5);
	-webkit-transition: box-shadow 1s ease;
	transition: box-shadow 1s ease;
}

a.btn:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}